/* Reset básico para remover margens e padding padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores básicas */
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    color: #191717;
    line-height: 1.6;
    padding: 20px;
}

/* Cabeçalho */
header {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    color: #191717;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 3.0em;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Seção de conteúdo */
.container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Títulos */
h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.0em;
    margin: 20px 0;
}

h4 {
    font-size: 1.5em;
    margin: 20px 0;
}

/* Letras */
p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #191717;
    color: #fff;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}

/* Estilização adicional para mensagens de aviso */
p b {
    color: #ff0000;
}